<!DOCTYPE html>
<html style="height: 100%;">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width"/>
        <title>Predict your Iris specie</title>
    </head>

<!-- .................................................................. -->
    <body style="height:100%; background-image: url(/static/img/background.jpg); background-size:cover;background-repeat: no-repeat;background-position:center;">
        <br>
        <br> 
        <br> 
        <br>
        <div style="text-align: left;">
        <h1 style=" color:white; font-size:2vw; font-family:Comic Sans MS, cursive, sans-serif; "><b>What Specie is your Iris Flower?</b></h1>
        <pre style=" color:beige; font-size:1vw; font-family:Comic Sans MS, cursive, sans-serif; "><i>          
            This Machine Learning model predicts the specie of an iris flower
            using its sepal length, sepal width, petal length and its petal width
            The model has an accuracy of 97%.
            
        </i></pre>
        <a href="/form" class="button" style="color: aliceblue; font-size:1vw;">Find out how</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        

    </body>

</html>